<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cliente">
    
    <resultMap id="clienteMap" type="mx.empenofacil.beans.Cliente">
        <id column="idcliente" property="idcliente"/>
        <association column="tipoidentificacion" property="tipoIdentificacion" select="itemCatalogo.buscarPorId"/>
    </resultMap>
    
    <select id="todos" resultMap="clienteMap">
        SELECT * FROM empenofacil.clieteview;
    </select>
    
    <select id="buscarPorId" resultMap="clienteMap" parameterType="int">
        SELECT * FROM empenofacil.clieteview
        WHERE idcliente = #{id};
    </select>
    
    <select id="buscarPorIdNombreRfcCurp" resultMap="clienteMap" parameterType="string">
        SELECT * FROM empenofacil.clieteview
        WHERE idcliente = #{busqueda}
        OR CONCAT(nombres, ' ', apellidos) LIKE CONCAT('%', #{busqueda}, '%')
        OR rfc = #{busqueda}
        OR curp = #{busqueda};
    </select>
    
    <select id="recientes" resultMap="clienteMap" parameterType="int">
        SELECT * FROM empenofacil.clieteview
        ORDER BY idcliente DESC
        LIMIT #{cantidad};
    </select>
    
</mapper>