<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="itemCatalogo">
    
    <resultMap id="itemCatalogoMap" type="mx.empenofacil.beans.ItemCatalogo">
        <id column="iditemcatalogo" property="iditemcatalogo"/>
        <result column="nombre" property="nombre"/>
        <!-- <association column="itemcatalogosuperior" property="itemCatalogoSuperior" select="buscarPorId"/> -->
    </resultMap>
    
    <select id="todos" resultMap="itemCatalogoMap">
        SELECT iditemcatalogo, nombre, itemcatalogosuperior
        FROM empenofacil.itemcatalogo;
    </select>
    
    <select id="buscarPorId" resultMap="itemCatalogoMap" parameterType="int">
        SELECT *
        FROM empenofacil.itemcatalogo
        WHERE iditemcatalogo = #{id};
    </select>
    
</mapper>