<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="transaccion">
    
    <resultMap id="transaccionMap" type="mx.empenofacil.beans.TransaccionCaja">
        <id column="idtransaccioncaja" property="idTransaccionCaja"/>
        <association column="sucursal" property="sucursal" select="sucursal.buscarPorId" />
    </resultMap>
    
    <select id="buscarPorId" resultMap="transaccionMap" parameterType="int">
        SELECT *
        FROM empenofacil.transaccioncaja
        WHERE idtransaccioncaja = #{id};
    </select>
    
    <select id="todos" resultMap="transaccionMap">
        SELECT *
        FROM empenofacil.transaccioncaja;
    </select>
    
    <insert id="registrar" parameterType="map" useGeneratedKeys="true" keyProperty="idtransaccioncaja">
        INSERT INTO transaccioncaja (sucursal,monto,balancecaja,descripcion)
        SELECT #{idsucursal},#{monto},balancecaja + #{monto},#{descripcion} FROM transaccioncaja ORDER BY idtransaccioncaja DESC LIMIT 1 FOR UPDATE;
    </insert>
    
    <select id="obtenerTransaccionApartado" resultType="mx.empenofacil.beans.TransaccionCaja" parameterType="int">
        SELECT * FROM empenofacil.transaccioncaja WHERE idtransaccioncaja = #{transaccion};
    </select>
    
    <update id="cancelacion" parameterType="map">
        UPDATE transaccioncaja
        SET cancelacion = #{idtransacciongenerada}
        WHERE idtransaccioncaja = #{idtransaccioncancelada};
    </update>
</mapper>